/* .banner{
    display: block;
    margin: 10px auto;
    height: 80%;
    width: 80%;
    object-fit: cover;
     background-image: url('./../images/Main\ logo.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
} */
