.psychology-img{
    width: 80%;
    height: 500px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}
.psychology-img1{
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}