
.main-logo {
    height: 100px;
 
}

.heading {

    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;

}
.nav-item{
    font-size: 20px;
    font-weight: bold;
}

.nav-item:hover{
    border: 1px solid black;
    border-radius: 5px;
}
.mode-img{
    height: 45px;
    margin-left: 10px;
}
.mode-item{
    position: relative;
    right: 10px;
}