
.main-logo {
    height: 100px;
 
}

.heading {

    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    

}
.mantra{
    font-family: "Jaini", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgb(42, 42, 137);

}
.nav-item{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

.nav-item:hover{
    border: 1px solid black;
    border-radius: 5px;
}
.mode-img{
    height: 45px;
    margin-left: 10px;
    cursor: pointer;
}
.mode-item{
    position: relative;
    right: 10px;
}
.active1{
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}
.dark-theme{
    background-color: black;
    color: white;
}
.light-theme{
    background-color: white;
    color: black;
}